/* font-family: 'Noto Sans JP', sans-serif; */
.header{
    height: auto;
    padding-top: 20px;
    background-image: url(../img/header-fon.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;

}
.d-inline-flex flex-row{
    justify-content: space-between;
}
.header-nav a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #32325d;
    padding: 5px 0px;
}
.header-nav a:last-child{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #ffff;
    background-color: #845cff;
    padding: 5px 10px;
    border-radius: 2px;
}
.header-title{
    margin-top: 150px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #32325d;
}
.header-description{
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #32325d;
}
.header-button a,
.advantages-item__button a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    background-color: #845cff;
    padding: 5px 10px;
    border-radius: 2px;
}
.header-button span,
.advantages-item__button span{
    display: inline-block;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #32325d;
    margin-left: 30px;
}
.header-button img,
.advantages-item__button img{
    vertical-align: center;
}
.header-title-2{
    margin-top: 20px;
    padding-top: 60px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #32325d;
}
.header-description-2{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #32325d;
    margin-bottom: 30px;
}
.about{
    margin-bottom: 100px;
}
.about-item{
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: -6.691px 7.431px 20px 0px rgba(6, 6, 17, 0.2);
        padding: 50px 50px 60px 50px;
        margin-top: 30px;   
}
.about-item__image img{
    margin-left: 30px;  
}
.about-item__title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #212240;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
.about-item__description{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #525f7f;
    text-align: left;
}
.services{
    background-image: url(../img/services-fon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.services-title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #212240;
    margin-bottom: 30px;
}
.services-subtitle{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #525f7f;
    margin-bottom: 100px;
}
.services-item{
    align-items: center;
    margin-bottom: 120px;
}
.services-item__title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #212240;
    margin-top: 30px;
    margin-bottom: 20px;
}
.services-item__description{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #525f7f;
    text-align: center;
}
.advantages-item{
    margin-top: 50px;
}
.advantages-item__title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #212240;
    margin-bottom: 25px;
}
.advantages-item__subtitle{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #525f7f;
    margin-bottom: 40px;
}
.advantages-item__text{
    margin-bottom: 40px;
}
.advantages-item__text p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #212240;
}
.advantages-item__text span{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #525f7f;
}
.advantages-image{
    padding-top: 60px;
}
.finances{
    padding-top: 100px;
    background-image: url(../img/finances-fon.png);
    background-position: 100% 700%;
    background-repeat: no-repeat;
}
.finances__item{
    padding-bottom: 100px;
}
.finances__item-title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #212240;
    margin-bottom: 25px;
}
.finances__item-subtitle{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #525f7f;
    margin-bottom: 40px;
}
.finances__list{
    padding-bottom: 50px;
}
.finances__list-title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #212240;
    padding-bottom: 30px;
}
.finances__list-point{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #525f7f;
    padding-bottom: 20px;
    position: relative;
    padding-left: 30px;
}
.finances__list-point::before{
    content: url(../img/check.png);
    position: absolute;
    left: 2px;
    top: 2px;
}
.get-start{
    padding-top: 150px;
    padding-bottom: 120px;
    background-color: #fafaff;
}
.get-start__title{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #212240;
    padding-bottom: 20px;
    position: relative;
}
.get-start__title::before{
    content: url(../img/geometry.png);
    position: absolute;
    top: -80px;
    left: 5px;
}
.get-start__subtitle{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #525f7f;
}
form{
    padding-top: 8px;
}
form input{
    border: none;
    outline: none;
    width: 500px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #845cff;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: -6.691px 7.431px 20px 0px rgba(6, 6, 17, 0.2);
    padding: 15px 190px 15px 20px;
    position: relative;
}
form button{
    position: absolute;
    right: 90px;
    top: 28px;
    border: none;
    outline: none;
    background-color: #fff;
}
form button span{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #845cff;
}
.footer{
    background-color: #212240;
    padding-top: 100px;
    padding-bottom: 80px;
}
.footer__contacts>img{
    width: 160px;
    height: 50px;
    margin-bottom: 50px;
}
.footer__contacts a{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #bbbbc5;
    margin-bottom: 15px;
}
.footer__contacts-email{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #bbbbc5;
    margin-top: 30px;
}
.footer__contacts__icons{
    width: 160px;
    justify-content: space-between;
    margin-top: 50px;
}
.footer__contacts__icons>img{
    width: auto;
    height: auto;
}
.footer__links a{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #bbbbc5;
    margin-bottom: 25px;
}
.footer__links-bold a{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #d3d3d9;
    margin-bottom: 25px;
}
.footer__links-bold a:hover {
    color:#fff;

}
.footer__links a:hover {
    color:#fff;

}
.footer__license{
    margin-top: 100px;
}
.footer__license-copyright{
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555377;
}
.footer__license-links{
    display: inline-block;
}
.footer__license-links a{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555377;
    margin-right: 25px;
}
.footer__license-links a:last-child{
    margin-right: 0px;
}